:root {
  --main-green: #5BC977;
  --secondary-green: #DC4489;
  --warning: #FFE766;
  --info: #60A5FA;
  --sucess: #22C55E;
  --error: #F87171;
  --main-text: #1B1B1B;
}

body, h1, p{
  margin: 0;
}

.padding-page{
  padding: 30px 50px;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.two-part{
  display: flex;
  gap: 1%;
  margin-top: 24px;
  align-items: flex-start;
}
.first-part{
  width: 29.5%;
}

.second-part{
  width: 69.5%;
}